.expertise{
    min-height: 100vh;
    background-color: var(--main-color);
    color: #fff;
    text-align: center;
    padding: 5rem 0;

    &__heading{
        font-size: 2rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid rgba(47,47,53,.2);
    }
    &__details{
        width: 50%;
        margin: 3rem auto;
        line-height: 150%;
    }
    &__items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
        row-gap: 2rem;
    }
}