.wethink{
    height: 90vh;
    background-image: url('../../../images/main page/wethink.jpg');
    background-size: cover;
    background-position: bottom;
    border-top: 4px solid var(--main-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}