.infobar{
    background-color: #2D2F30;
    color: #fff;
    font-size: .8rem;
    padding: .4rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    font-weight: 350;
    position: fixed;
    width: 100%;
    top:-1px;
    z-index: 1000;

    &__container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
    }
    &__phone{
        cursor: pointer;

        &:hover{
            color: var(--main-color);
            transition: color .25s linear;
        }
    }
    &__email{
        color: #9b9b9b;
        cursor: pointer;

        &:hover{
            color: #fff;
            transition: color .25s linear;
        }

        &:before{
            color: var(--main-color);
            content: '|';
            margin: 4px;
        }
    }
}