*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    border-top: 1px solid transparent;
}
.container{
    width: 1170px;
    margin: auto;
}

:root{
    --main-color:#00A2E3;
}
.list-unstyled{
    list-style-type: none;
}
img{
    object-fit: cover;
}


div.rec-slider-container{
    margin: 0;
}
.rec-carousel{
    position: relative;
}
.rec-dot{
    display: none;
}
.rec-arrow{
    position: absolute;
    z-index: 1;
}
.rec-arrow-left{
    transform: translateX(50%);
}
.rec-arrow-right{
    transform: translateX(-50%);
    right: 0;
}

@media only screen and (max-width:769px){
    .container{
        width: 95%;
        margin: auto;
        overflow: hidden;
    }
}

@media only screen and (max-width:480px){
    .container{
        width: 95%;
        overflow: hidden;
    }

}