.technologies{
    margin: 2rem auto;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 1s ease-out;

    &__heading{
        text-align: center;
        font-size: 2rem;
        padding: .5rem;
        border-bottom: 1px solid #d5d5d6;
        color: #2d2f30;
    }
    &__list{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem auto;
        &__item{
            width: 32%;
            margin: 0 2rem;
            display: flex;
            align-items: center;

            img{
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width:769px){
    .technologies{
        &__list{

            flex-wrap: wrap;

            &__item{
                margin: 1rem 1rem;
                width: 15%;
            }
        }
    }
}
@media only screen and (max-width:480px){
    .technologies{
        &__list{

            flex-wrap: wrap;

            &__item{
                margin: 1rem 1rem;
            }
        }
    }
}